{% extends 'stock_control/user/base.html' %}
{% load static %}

{% block title_block %}
    <title>Dashboard</title>
{% endblock %}

{% block body_block %}
    <div class="main2">
        <div class="pill">
            <span class="big">30</span>
            <span>Products</span>
        </div>
        <div class="pill">
            <span class="big">30</span>
            <span>Products</span>
        </div>
        <div class="pill">
            <span class="big">30</span>
            <span>Products</span>
        </div>
    </div>
{% endblock %}