{% extends 'stock_control/user/base.html' %}
{% load static %}

{% block title_block %}
    <title>Products</title>
{% endblock %}

{% block body_block %}
    <main>
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}

        <button id="new" class="btn-primary">
            <img alt="home" src="{% static 'images/plus.svg' %}"/>
            ADD NEW
        </button>

        <table class="product">
            <thead>
                <tr>
                    <th>PRODUCT ID</th>
                    <th>PRODUCT NAME</th>
                    <th>UNIT PRICE</th>
                    <th>QUANTITY</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.unit_price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <a href="{% url 'stock_control:update_product' product.product_id %}">
                            <img id="edit"  alt="edit" class="icon" src="{% static 'images/edit.svg' %}"/>
                        </a>
                        <a href="{% url 'stock_control:delete_product' product.product_id %}">
                            <img alt="delete" src="{% static 'images/delete.svg' %}"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% block content_block %}
        <div id="modal" class="modal">
            <div class="modal-content">
                <p>ADD NEW PRODUCT</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="name">Name</label>
                        <input class="input" type="text" name="name" id="name" required>
                    </div>

                    <div class="fieldWrapper">
                        <label for="quantity">Quantity</label>
                        <input class="input" type="number" name="quantity" id="quantity" required>
                    </div>

                    <div class="fieldWrapper">
                        <label for="price">Price in Kshs</label>
                        <input class="input" type="number" name="price" id="price" required>
                    </div>

                    <div class="fieldWrapper">
                        <label for="description">Description</label>
                        <textarea class="input" name="description" id="description"></textarea>
                    </div>

                    <div class="button-group">
                        <input class="btn-primary" type="submit" value="SAVE"/>
                        <button id="cancel" class="btn-secondary">
                            CANCEL
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
    </main>

    {% block script_block %}
    <script type="text/javascript">
        let modal = document.getElementById("modal");
        let btn_new = document.getElementById("new");
        let cancel = document.getElementById("cancel");
        let edit = document.getElementById("edit");

        btn_new.onclick = function () {
            location.href = "/stock_control/save_product";
        }

        cancel.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    </script>
    {% endblock %}

{% endblock %}