{% extends 'stock_control/user/products.html' %}
{% load static %}
{% block content_block %}

    <div id="modal" class="modal">
        <div class="modal-content">
            <p>ADD NEW PRODUCT</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="fieldWrapper">
                    <label for="name">Name</label>
                    <input class="input" type="text" name="name" id="name" required>
                </div>

                <div class="fieldWrapper">
                    <label for="quantity">Quantity</label>
                    <input class="input" type="number" name="quantity" id="quantity" required>
                </div>

                <div class="fieldWrapper">
                    <label for="unit_price">Price in Kshs</label>
                    <input class="input" type="number" name="unit_price" id="unit_price" required>
                </div>

                <div class="fieldWrapper">
                    <label for="description">Description</label>
                    <textarea class="input" name="description" id="description"></textarea>
                </div>

                <div class="button-group">
                    <input class="btn-primary" type="submit" value="SAVE"/>
                    <button id="cancel" class="btn-secondary">
                        CANCEL
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript">
        let modal = document.getElementById("modal");
        let btn_new = document.getElementById("new");
        let cancel = document.getElementById("cancel");

        window.onload = function () {
            modal.style.display = "block";
        }

        cancel.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target === modal) {
                location.href = "/stock_control/products";
            }
        }

        product.onclick = function () {
            location.href = "/stock_control/products";
        };
    </script>
{% endblock %}
